# binaries
test
test-opt
test-dbg
test-prof
mapeditor
built/img
built/rata

# resource dirs
built/lib
res
built/img
built/snd
built/bgm

# intermediates
tmp

# testing
filetester.cpp

# misc
demo
demo.tar.gz
gmon.out
