# binaries
test
test-opt
test-dbg
test-prof
mapeditor
rata

# resource dirs
lib
res
img
snd
bgm
xcf

# intermediates
Actor.cpp
imgs.cpp
tmpimg
actor/*.cpp

# testing
filetester.cpp

# misc
demo
demo.tar.gz
gmon.out
